

<footer>
    <div class="footer">
      <p> &copy;2023 <span>Union-Central</span></p>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <ul>
        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.tiktok.com/explore"><i class="fa-brands fa-tiktok"></i></a></li>
      </ul>
    </div>
  </footer>
</body>
</html>