<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Union-Central</title>
    <link rel="stylesheet" href="/css/style.css">

    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
              <a href="/"><img src="/../images/logo.png" alt="logo"></a>
            </div>
            <div class="menu">
            <ul class="nav-links">
                <li><a href="/events">Current Events</a></li>
                <li>|</li>
                <li><a href="/events/new">Create Events</a></li>
                <li>|</li>
                <li><a href="#">Sign-in</a></li>
                <li>|</li>
                <li><a href="#">Login</a></li>
            </ul>
          </div>
          </nav>
    </header>