<%- include('../partials/header.ejs') %>
  
<body>
    <section class="about-us">
      <div class="about">
        <img src="images/about-img.jpg" class="pic">
        <div class="text">
          <h2>About Us</h2>
          <p>We are dedicated to providing a platform tailored for students to both organize and participate in events at the University of North Carolina at Charlotte (UNCC). Our mission is to foster a vibrant and engaged campus community by facilitating events led by both fellow students and UNCC faculty.</p>
        </div>
      </div>
    </section>
  </body>

    <%- include('../partials/footer.ejs') %>
