<%- include('../partials/header.ejs') %>
  
<main>

  <video id="video-background" autoplay loop muted>
    <source src="images/Aerial_F.mp4" type="video/mp4">
  </video>

  <div class="main-header">
    <h1>Welcome to Union-Central</h1>
    <p>
      A platform tailored for students to both organize and participate in events,
      <br>facilitated by both fellow students and UNCC faculty.</p>
    <div class="header-btn">
    <a href="/events">See Events</a>
  </div>
  </div>


</main>

    <%- include('../partials/footer.ejs') %>
